<div class="ui tiered menu">
    <div class="menu" ng-init="tabs = {dashboard: 0, myURLs: 1, videoServices: 2}; activeTab = tabs.friends">
        <a class="item" ng-class="{'active': activeTab == tabs.dashboard}" ng-click="activeTab = tabs.dashboard">
            <i class="users icon"></i>
            Dashboard
        </a>
        <a class="item" ng-class="{'active': activeTab == tabs.myURLs}" ng-click="activeTab = tabs.myURLs">
            <i class="grid layout icon"></i> My URLs
        </a>
        <a class="item" ng-class="{'active': activeTab == tabs.videoServices}" ng-click="activeTab = tabs.videoServices">
            <i class="mail icon"></i> Video Services
        </a>
        <div class="right menu">
            <div class="item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search...">
                    <i class="search icon"></i>
                </div>
            </div>
            <div class="ui dropdown item">
                <div ng-click="showMore = !showMore">More <i class="icon dropdown"></i></div>
                <div class="menu" ng-show="showMore">
                    <a href="#/login" class="item"><i class="edit icon"></i> Login</a>
                    <a class="item"><i class="globe icon"></i> Choose Language</a>
                    <a class="item"><i class="settings icon"></i> Account Settings</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui sub menu">
        <a class="active item">Search</a>
        <a class="item">Add</a>
        <a class="item">Remove</a>
    </div>
</div>
