<!--Header start here-->
<div ng-include="'/assets/app/views/partials/client/header.html'"></div>
<!--Header end here-->

<!--Sub menu start here-->
<div class="ui tiered menu" style="margin: 0;">
    <div class="ui sub menu">
        <a class="active item">Search</a>
        <a class="item">Add</a>
        <a class="item">Remove</a>
    </div>
</div>
<!--Sub menu end here-->

<!--Content start here-->
<div class="b-content">
    <h3 class="ui header">My web sites</h3>
    <table class="ui celled table segment">
        <thead>
            <tr>
                <th>Name</th>
                <th width="70%">Description</th>
                <th width="10%">Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="webSite in webSites">
                <td>{{webSite.name}}</td>
                <td>{{webSite.description}}</td>
                <td ng-class="{'negative': webSite.status_id == 2, 'positive': webSite.status_id == 1, 'warning': webSite.status_id == 0}">{{webSite.status}}</td>
            </tr>
        </tbody>
    </table>
</div>
<!--Content end here-->
